.CrtEffect {
  --turn-on-time: calc(0.3s + (0.7s * var(--strength)));
  --crt-inset-top: 0%;
  --crt-inset-bottom: 0%;
  --crt-inset-left: 0%;
  --crt-inset-right: 0%;
  overflow: hidden;

  &.disabled {
    overflow: unset;
  }


  /*****************/
  //  Shared styles
  /*****************/
  &,
  > .pixel-matrix,
  > .pixel-matrix > .signal,
  > .pixel-matrix > .signal > .content,
  > .pixel-matrix > .signal > .noise,
  > .physical-screen,
  > .pixel-matrix::before,
  > .pixel-matrix::after,
  &::after {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }


  /************************************************************************/
  //  The pixel grid/matrix layer that the video signal is projected on to
  /************************************************************************/
  > .pixel-matrix {
    filter: brightness(calc(1.15 + (0.15 * var(--strength))));
    z-index: 1;
  }
  &.disabled > .pixel-matrix {
    filter: unset;
  }

  > .pixel-matrix::after {
    content: " ";
    background:
      linear-gradient(
        rgb(0, 0, 0),
        transparent,
      ),
      linear-gradient(
        90deg,
        rgb(255 0 0) 1px,
        rgb(0 255 0) 1px,
        rgb(0 255 0) 2px,
        rgb(0 0 255) 2px,
      );
    z-index: 200;
    background-size: 100% 2px, 3px 100%;
    pointer-events: none;
    opacity: calc(0.15 + (0.15 * var(--strength)));
    mix-blend-mode: multiply;
  }

  &.strength-5 > .pixel-matrix::after,
  &.strength-4 > .pixel-matrix::after {
    background-size: 100% 3px, 3px 100%;
  }
  &.disabled > .pixel-matrix::after {
    display: none;
  }


  /**********************************************************/
  //  The video signal being projected on to the pixel matrix
  /**********************************************************/

  > .pixel-matrix > .signal {
    filter: url(#lineShift) brightness(1); // No idea why brightness is nessary here but if strength is less that 0.8 the signal is hidden for some reason
    z-index: 1;
    transition: opacity var(--turn-on-time) ease 0ms;
  }

  &.tv-on,
  &.tv-turning-on {
    > .pixel-matrix > .signal {
      --turn-on-animation: calc(1s + (2s * var(--strength))) linear var(--turn-on-time) normal both 1 running turn-on-signal;
      animation: var(--turn-on-animation);
    }
  }
  &.strength-5 > .pixel-matrix > .signal {
    animation:
      var(--turn-on-animation),
      5s 8s ease normal both infinite glitch-periodic-skew,
      100ms infinite alternate glitch-jerk-up-small;
  }
  &.strength-4 > .pixel-matrix > .signal {
    animation:
      var(--turn-on-animation),
      500ms infinite alternate glitch-jerk-up-small;
  }

  &.disabled > .pixel-matrix > .signal {
    filter: unset;
  }

  &.tv-turning-off {
    > .pixel-matrix > .signal {
      animation: 750ms
        cubic-bezier(0.230, 1.000, 0.320, 1.000)
        0ms
        normal
        forwards
        1
        running
        turn-off-signal;
    }
  }


  @keyframes turn-on-signal {
    0% {
      opacity: 0;
    }
    0.1% {
      transform: scale(1, 0.8) translate3d(0, 0, 0)  skew(0, -5deg);
      opacity: 1;
    }
    3.5% {
      transform: scale(1, 0.8) translate3d(0, 100%, 0)  skew(0, -5deg);
    }
    3.6% {
      transform: scale(1, 0.8) translate3d(0, -100%, 0)  skew(0, -5deg);
      opacity: 1;
    }
    9% {
      transform: scale(1.3, 0.6) translate3d(0, 100%, 0)  skew(0, -5deg);
      opacity: 0;
    }
    11% {
      transform: scale(1, 1) translate3d(0, 0, 0);
      opacity: 1;
    }
    12% {
      opacity: 0.8;
    }
    100% {
      background: transparent;
      transform: scale(1, 1) translate3d(0, 0, 0);
      opacity: 1;
    }
  }
  @keyframes turn-off-signal {
    0% {
      transform: scale(1, 1);
      filter: brightness(1);
    }
    40% {
      transform: scale(1, 0.005);
      filter: contrast(0.3) brightness(4);
    }
    70% {
      transform: scale(1, 0.002);
    }
    90% {
      transform: scale(0.002, 0.002);
    }
    100% {
      transform: scale(0, 0);
      filter: contrast(0.3) brightness(4);
    }
  }
  @keyframes glitch-periodic-skew {
    30% {
    }
    40% {
      transform: scale(1, 1) skew(0, 0);
    }
    40.5% {
      transform: scale(1, 1.01) skew(1deg, 0);
    }
    41% {
      transform: scale(1, 1.01) skew(-0.5deg, 0);
    }
    41.5% {
      transform: scale(1, 1) skew(0, 0);
    }
    65% {
    }
  }


  /*********************************/
  //  The video content to be shown
  /*********************************/
  > .pixel-matrix > .signal > .content {
    filter: blur(calc(0.5px + (0.5px * var(--strength))));
    opacity: 0;
    animation: 0s linear 2s forwards appear;
  }
  &.disabled > .pixel-matrix > .signal > .content {
    filter: unset;
  }


  /**************************************************************/
  //  Static noise layer that is mixed in with the video content
  /**************************************************************/
  > .pixel-matrix > .signal > .noise {
    overflow: hidden;
    z-index: 10;
    pointer-events: none;
  }

  &.disabled > .pixel-matrix > .signal > .noise {
    display: none;
  }

  &.tv-turning-on,
  &.tv-on {
    > .pixel-matrix > .signal > .noise {
      animation:
        calc(1s + (2s * var(--strength))) linear var(--turn-on-time) normal both 1 running turn-on-snow;
    }
  }
  @keyframes turn-on-snow {
    0.1% {
      background: transparent
        linear-gradient(to bottom, #85908c 0%, #323431 100%)
        repeat
        scroll
        0
        0;
      filter: brightness(4);
    }

    11% {
      filter: brightness(4) ;
      mix-blend-mode: initial;
    }

    12% {
      mix-blend-mode: soft-light;
      background: transparent
        linear-gradient(to bottom, #85908c 0%, #323431 100%)
        repeat
        scroll
        0
        0;
      opacity: 0.3;
    }

    100% {
      opacity: calc(0.05 * var(--strength));
    }
  }

  /***********************/
  //  The OSD info text
  /***********************/
  .text {
    color: lime;
    content: "AV-1";
    filter: blur(0.5px);
    font-family: Sys;
    font-size: min(6vmin, 3.5em);
    left: max(5%, 1.5em);
    position: absolute;
    text-shadow: 0 0 3px lime;
    top: 10%;
    z-index: 20;
    transform: skewY(-1.5deg);
    opacity: 0;
    animation: 6s 1s linear appear;

    span {
      filter: blur(1px);
      animation: blur 30ms infinite, glitch-jerk-right-small 50ms infinite;
      white-space: nowrap;

      &:not(:first-child) {
        position: absolute;
        top: 0;
        left: 0;
      }
      &:nth-child(1) {
        color: red;
        margin-left: -2px;
        filter: blur(2px);
        animation: glitch-jerk-up-small 1s infinite;
      }
      &:nth-child(2) {
        color: lime;
        margin-left: 2px;
        filter: blur(2px);
        animation: glitch-jerk-left 1s infinite;
      }
      &:nth-child(3) {
        color: blue;
        position: 20px 0;
        filter: blur(1px);
        animation: glitch-jerk-right 1s infinite;
      }
      &:nth-child(4) {
        color: #fff;
        filter: blur(1px);
        text-shadow: 0 0 50px rgba(255, 255, 255, 0.4);
      }
      &:nth-child(5) {
        color: rgba(255, 255, 255, 0.1);
        filter: blur(15px);
      }
    }
  }

  &.strength-5 > .pixel-matrix > .signal > .text {
    // Keep on screen forever if strength is at max
    animation-fill-mode: forwards;
  }
  :not(&.strength-5):not(&.strength-4) {
    > .pixel-matrix > .signal > .text {
      display: none;
    }
  }

  &.disabled > .pixel-matrix > .signal > .text {
    display: none;
  }

  @keyframes glitch-jerk-right {
    0% {
      transform: translateX(0);
    }
    30% {
      transform: translateX(0);
    }
    31% {
      transform: translateX(calc(5px * var(--strength)));
    }
    32% {
      transform: translateX(0);
    }
    98% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(5px * var(--strength)));
    }
  }
  @keyframes glitch-jerk-right-small {
    50% {
      transform: translateX(1px);
    }
    51% {
      transform: translateX(0);
    }
  }
  @keyframes glitch-jerk-left {
    0% {
      transform: translateX(0);
    }
    30% {
      transform: translateX(0);
    }
    31% {
      transform: translateX(calc(-5px * var(--strength)));
    }
    32% {
      transform: translateX(0);
    }
    98% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-5px * var(--strength)));
    }
  }


  /*******************************************************************************************/
  //  The physical display mimics the look of the screen when no signal is projected on to it
  /*******************************************************************************************/
  > .physical-screen {
    // This mimics the look of the screen when no signal is projected on to it
    background: transparent
      linear-gradient(to bottom, #85908c 0%, #323431 100%)
      repeat
      scroll
      0
      0;
    content: "";
    width: 100%;
    height: 100%;
    pointer-events: none;
  }

  &.disabled > .physical-screen {
    display: none;
  }


  /************/
  //  TV bezel
  /************/
  &::after {
    background-image: url('./crt-frame.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    z-index: 100;
    pointer-events: none;
    content: "";
    background-position: center;
    transition: background-size var(--turn-on-time) ease 0ms;
    background-size:  calc(100% + (2% - (var(--strength) * 2%))) calc(100% + (2% - (var(--strength) * 2%)));
  }

  &.disabled::after {
    background-size: 110% 110%;
  }


  /*******************************************************************************************/
  //  Shared animation keyframes
  /*******************************************************************************************/
  @keyframes appear {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes glitch-jerk-up-small {
    0% {
      translate: 0 1px;
    }
    100% {
      translate: 0 0px;
    }
  }

  @font-face {
    src: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/86186/sys.ttf)
      format('truetype');
    font-family: 'Sys';
  }
}
