.CreateMarkerPanel {
  /* Lines up with the marker form below, which has a 0.5em margin (see .action-button-create-marker) */
  .marker-select {
    margin: 0.5em 0.5em 1em;
  }
}

.DefaultMarkersPanel {
  .existing-markers {
    list-style: none;
    margin: 1rem 0 0;
    padding: 0;

    li {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 0.5rem;

      & + li {
        margin-top: 0.5rem;
      }
    }
  }
}
