.extended-rating-number {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 0.4em;

  .text-rating {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    > span {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      gap: 0.4rem;
    }

    .out-of {
      font-size: 1rem;
    }

    .clear-rating {
      padding: 0 0.4rem;
    }

    input {
      width: 3.8em;
      padding: 0 0.4rem 0 0.4rem;
      height: 1.2lh;
    }
  }
}
